@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    --red: #FC4A4A;
    --grey-border: #E3E3E3;
}

a {
    text-decoration: none;
}

.round-container {
    padding: 22px 10px;
    height: 45px;
    border: 1.32px solid var(--grey-border);
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#show-map {
    padding: 20px;
    background-color: #292929;
    color: white;
    font-size: 0.88rem;
    font-weight: 500;
    border: none;

    position: fixed;
    margin-left: -50px;
    left: 50%;
    bottom: 9%;
}

#show-map img {
    width: 30px; height: 38px;
    padding: 5px 0px 5px 5px;
}

#show-map:hover, #show-map:focus {
    background-color: #2F2F2F;
}

/* Styled from left to right */

/* --- HEADER STYLING --- */

header {
    width: 100%;
    height: 190px;
    background-color: #ffff;
    position: fixed; 

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.75fr 1fr;
}

#top-header {
    font-size: 0.88rem;
    font-weight: 600;
    letter-spacing: -0.02;

    border-bottom: 1.32px solid var(--grey-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

#airbnb-icon, #top-header h1, #top-header p, #globe-icon, #top-header .round-container {
    margin: 2px;
}

#top-header h1 {
    margin-right: 320px;
}

#top-header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.09ch;
    color: var(--red);

    display: inline-block;
}

.search {
    box-shadow: 0px 0px 6px #D9D9D9;
}

#top-header #airbnb-your-home {
    margin-left: 165px;
}

#top-header .round-container.search p {
    white-space: nowrap;
    padding: 5px;
}

#top-header .round-container.search p:first-child {
    padding-right: 15px;
}

#top-header .round-container.search p:nth-child(2) {
    margin: 0;
    padding-left: 15px; padding-right: 15px;
    border-left: 1.32px solid var(--grey-border); border-right: 1.32px solid #E3E3E3;
}

#top-header .round-container.search p:nth-child(3) {
    padding-left: 15px;
    color: grey;
    font-weight: 400;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: var(--red);
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#top-header a {
    color: black;
    white-space: nowrap;
    border: none;
}

#top-header a:hover, #top-header a:focus {
    background-color: whitesmoke;
}

#airbnb-your-home {
    padding: 6px;
}

#top-header .round-container.profile {
    width: 80px;
    border: 1.32px solid var(--grey-border);
    gap: 10px;
}

#top-header .round-container.profile:hover, #top-header .round-container.profile:focus {
    background-color: white;
    box-shadow: 0px 2px 4px #D9D9D9;
}

#bottom-header {
    box-shadow: 0px 4px 5px #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#bottom-header a img {
    padding: 5px;
    width: 34px;
    height: 34px;
}

#bottom-header a {
    padding: 8px;
    width: 90px;
    height: 60px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #686868;
    letter-spacing: -0.02;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom-header a:hover, #bottom-header a:focus {
    color: black;
    border-bottom: 2px solid black;
}

/* --- MAIN STYLING --- */

main {
    padding-left: 39px; padding-right: 39px;
    height: 100%;
    font-size: 0.88rem;

    display: grid;
    grid-template-columns: repeat(4,280.87px);
    grid-template-rows: 190px repeat(6,400px);
    justify-content: center;
    justify-items: center;
    gap: 22px;
}

main section img {
    margin-bottom: 10px;
    width: 280.87px;
    height: 280.87px;
    border-radius: 1rem;
}

main section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

main section div p:nth-child(2) {
    font-weight: 500;
    text-align: right;
}

main section div p:nth-child(4) {
    padding-bottom: 10px;
}

main section div p:nth-child(1), main section div p:nth-child(5) {
    font-weight: 600;
}

main section div p:nth-child(3), main section div p:nth-child(4) {
    color:#686868;
    font-weight: 450;
}

main section div p:nth-child(3), main section div p:nth-child(4), main section div p:nth-child(5)  {
    grid-column: span 2;
}

/* --- FOOTER STYLING --- */

footer {
    padding-left: 39px; padding-right: 39px;
    width: 100%;
    height: 7vh;
    background-color: #FDFDFD;
    border-top: 1.32px solid var(--grey-border);
    font-size: 0.88rem;
    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

footer p a {
    text-decoration: none;
}

footer p a:hover, footer p a:focus {
    text-decoration: underline;
}

footer p:first-child {
    font-weight: 500;
    text-align: left;
}

footer p:first-child, footer p:first-child a  {
    color: #525252;
}

footer p:last-child {
    font-weight: 600;
    text-align: right;
}

footer p:last-child, footer p:last-child a  {
    color: black;
}
