@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cormorant+Garamond:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

header {
    padding-bottom: 20px;
    background-color: whitesmoke;
    border-bottom: solid 3px rgb(225, 191, 191);
    box-shadow: 0px 0px 5px grey;
}

header p {
    font-size: clamp(14.25px,2.5vw,20px);
    color: rgb(208, 185, 185);
    letter-spacing: 4px;
    font-weight: 600;
}

nav a {
    color: #313D5A;
    font-size: clamp(13px,3vw,17px);
    text-align: center;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

main {
    background-color: white;
    border-bottom: solid 1px rgb(230, 228, 228);
}

#article-info-container {
    height: min(68vw,400px);
    background: url("img/javier-munoz-XDOxDIWDdEI-unsplash.jpg") repeat fixed center;
    filter: brightness(110%);
    background-position-y: -50px;
    background-size: cover;

    z-index: -2;
}

#article-info-container h1 {
    color: white;
    font-size: clamp(45px,8vw,98px);
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
    z-index: 1;
}

#article-info-container .publication {
    padding: 2px;
    width: clamp(240px,30vw,350px);
    height: 20px;
    background-color: rgba(225, 191, 191, 0.8);
    border-radius: 2rem;
    box-shadow: 1px 1px 5px black;

    z-index: 1;
}

#article-info-container .publication a {
    width: auto;
    height: 100%;
}

#article-info-container .publication p {
    font-size: clamp(12px,1.3vw,15.5px);
    color: #313D5A;
    display: inline-block;
}

h3 {
    padding-bottom: 8px;
    color: #313D5A;
    font-size: clamp(18px,4vw,30px);
    font-weight: 700;
}

main article p, article ul, figcaption {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: clamp(1rem,1.6vw,1.18rem);
}

#p1 {
    padding-top: 30px;
}

#p3 {
    padding-bottom: 50px;
    gap: 20px;
}

#metro-map {  
    margin: 0 25px;
    width: 70%;
    height: auto;
    border: whitesmoke solid 25px;
    box-shadow: 2px 1px 5px grey;
    align-self: center;
}

figcaption {
    padding: 10px;
    font-size: 0.9rem;
}

figcaption a {
    color: rgb(226, 6, 6);
}

aside {
    padding: 65px 0;
    background-color: whitesmoke;
}

h4 {
    color: #313D5A;
    font-weight: 600;
}

aside ul {
    margin: 0 20px;
    font-size: clamp(13px,3vw,17px);
}

footer {
    padding: 6px;
    background-color: whitesmoke;
    border-top: solid 1px rgb(218, 216, 216);
}

#fb-icon {
    width: 24px;
    height: auto;
}

#ig-icon {
    width: 28px;
    height: auto;
}

#x-icon {
    margin-top: 4px;
    width: 27px;
    height: 19px;
}

#yt-icon {
    margin-top: 4px;
    width: 38px;
    height: 20px;
}

#arrow-up {
    width: fit-content;
    height: fit-content;
    background-color: rgba(225, 191, 191,0.4);
    border-radius: 2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;

    transition: box-shadow 0.3s;
}

#arrow-up img {
    padding: 15px;
    width: clamp(46px,12vw,60px);
    height: auto;
}

#arrow-up:hover, #arrow-up:focus {
    box-shadow: 0px 0px 5px rgb(230, 230, 230);
}
